17.Accept a string as input. your task is to determine if the input strijng is a valid password or not. for a string to be a valid password, it must satisfy all the conditions given below:
    1.it should have atleast 8 and at most 32 charcters
    2.it should start with an uppercase or lowercase letter
    3.it should not have any of these characters: /|='"
    4.it should not have spaces
    it could have any character that is not mentioned in the list of characters to be avoided(points 3 and 4 .output true if string forms a valid password and false otherwise

In [2]:
def validpassword(pwd: str):
        if 8 <= len(pwd) <=32 and pwd[0].isalpha() and all(char not in pwd for char in[" ","'","/","=",'"',"\\"]):
            print("valid paassword")
        else:
            print("false")

In [3]:
validpassword("'incjdjdjjd'[[[[")

false

In [4]:
validpassword("inc12Ec56")

valid paassword

In [5]:
def greet():
    message='hello'
    print("local",message)

In [6]:
greet()

local hello

In [7]:
def greet():
    message='hello' #this is local variable created inside the function
    print("local",message)
print(message)
greet()                #we printed ouside fucntion it is not getting output      #getting error-cretaing variables in locally or globally

NameError: name 'message' is not defined

In [11]:
def add():
    x=20
    y=30
    print(x+y)
print(x)
print(y) #we created variable inside function but if we try to call variable ouside function,we will get error

awesome

NameError: name 'y' is not defined

In [12]:
x='awesome' #global scope
def myfunc():
    x="fantastic"
    #local scope
    print("python is "+x)
myfunc()
print(x)

python is fantastic
awesome

In [4]:
#to use global variable inside function
x=20
def add():
    y=30
    print("local variable y=",y)
    print("global variable x=",x) 
    z=x+y
    print(z)

In [3]:
add()

local variable y= 30
global variable x= 20
50

In [24]:
#python functional -arguements
'''positional arguments
   default
keyword
variable length arguments'''
#1.positional arguements
def add_numbers(a,b):
    sum=a+b
    print("sum",sum)

In [7]:
add_numbers()       #no given inputs-positional arguemnts need to give

TypeError: add_numbers() missing 2 required positional arguments: 'a' and 'b'

In [8]:
add_numbers(2,3)

sum 5

In [9]:
def empl_name(name):
    print("my name is",name)

In [11]:
empl_name("vamshi")

my name is vamshi

In [12]:
#default arguments
def add_numbers(a=4,b=5):
    sum=a+b
    print("sum",sum)

In [14]:
add_numbers() #it taok default value

sum 9

In [16]:
add_numbers(4,10) #if we are giving positional arguments it takje this as input and performing. if we didnt gave any number it took default value and performing

sum 14

In [18]:
def empl_name(name="vamshi"):
    print("my name is",name)

In [22]:
empl_name()#taking default value

my name is vamshi

In [23]:
empl_name("krishna")  #taking positional value

my name is krishna

In [4]:
#keyword arguements
def display_info(first_name,last_name):
    print("first name",first_name)
    print("last name",last_name)

In [5]:
display_info(first_name="pw",last_name="skills")

first name pw
last name skills

In [7]:
display_info(last_name="skills",first_name="pw") #keyword -specifically mentioning what is what

first name pw
last name skills

In [8]:
def add_numbers(a,b):
    sum=a+b
    print("sum",sum)

In [9]:
add_numbers(a=4,b=7)

sum 11

In [12]:
add_numbers(b=7,a=4) #by using keyword you can pass value in any order

sum 11

In [13]:
#*args -arguements  and **kwargs-keyword arguements   ----variable length-function dont know how many inputs it will take
#*beside star you can use any name

In [20]:
def find_num(*numbers):#user can pass n number of inputs
    result=0
    for num in numbers:
         result=result+num
    print("sum",result)

In [21]:
find_num()

sum 0

In [22]:
find_num(1,2,3)

sum 6

In [24]:
find_num(1,2,3,4,5,6,7,8,9) #meaning of *is it can take n number of input-it accepting variable length

sum 45

In [25]:
find_num(1,2,3,4,5,6,7,8,9,10,1,2)

sum 58

In [30]:
def simple(*x):      # *-means that accepting n number of inputs
    print(x)

In [27]:
simple()

()

In [28]:
simple(1,2,3,4)

(1, 2, 3, 4)

In [29]:
simple(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [63]:
#     **kwargs-you need to pass keyword-gives output as dictionary
def intro(**data):
    print("data type of argument",type(data))
    for key,value in data.items():
        print(key,value)

In [37]:
intro(first_name="pw",last_name="skills")

data type of argument <class 'dict'>
first_name pw
last_name skills

In [34]:
x={"a":1,"b":2}
for keys,value in x.items():
    print(keys,value)

a 1
b 2

In [35]:
x.items()

dict_items([('a', 1), ('b', 2)])

In [38]:
def simple(**x):
    print(x)

In [41]:
simple(name="pw",age=24,id_no=23)

{'name': 'pw', 'age': 24, 'id_no': 23}

In [42]:
def simple1(*y):
    print(y)

In [43]:
simple1(2,3)

(2, 3)

In [44]:
simple1(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [45]:
def simple(**x):
    print(x)

In [46]:
simple(name="vamshi")

{'name': 'vamshi'}

In [48]:
simple(name="vamshi",age=45)  #output will be in dictionary,give input in key and value

{'name': 'vamshi', 'age': 45}

In [49]:
def shownumbers(*x):
    print(x)

In [51]:
shownumbers(1)

(1,)

In [52]:
shownumbers(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [53]:
def showkeyvalue(**y):
    print(y)

In [55]:
showkeyvalue(x=1,y=2)

{'x': 1, 'y': 2}

In [56]:
showkeyvalue(x=1,y=2,w=2,u="pw")

{'x': 1, 'y': 2, 'w': 2, 'u': 'pw'}

In [57]:
showkeyvalue(2)  #error 1 is given

TypeError: showkeyvalue() takes 0 positional arguments but 1 was given

In [58]:
showkeyvalue(2,3)

TypeError: showkeyvalue() takes 0 positional arguments but 2 were given

In [59]:
showkeyvalue(x=3)

{'x': 3}

In [62]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,34,78,1,1,1,1)

127

In [4]:
#lamda function- anonymous function
#syntax -lamda arguments:expression

addnum=lambda a,b:a+b

In [5]:
addnum(2,3)

5

In [7]:
multi=lambda a,b:a*b

In [8]:
multi(3,4)

12

In [11]:
a=int(input("enter first number"))
b=int(input("enter second number"))
square=lambda a,b:(a**2,b**2)
print(square(a,b))

enter first number 2
enter second number 3

(4, 9)

In [36]:
def evenodd(n): #without using lamda
    if n%2==0:
        print("n is even")
    else:
        print("n is odd")

In [37]:
evenodd(8)

n is even

In [38]:
#number is even or not
square=lambda n: "number is even" if n%2==0 else "number is odd"

In [39]:
square(2)

'number is even'

In [40]:
square(3)

'number is odd'

In [41]:
#write a lamda functions that accepts 2 arguements and returns the greter amongst them
great=lambda m,n: m if m>n else b

In [43]:
great(2,3)

3

In [46]:
sum=lambda a,b,c: (a+b+c)

In [47]:
sum(1,2,3)

6

In [52]:
#real case example
products=[{"name":"product1","price":50},
          {"name":"product2","price":30},
          {"name":"product3","price":40},
          {"name":"product4","price":60}]
#want to extract price or values-want to sort it based on price
sorted_products=sorted (products,key=lambda x:x["price"])  #sorted is inbuilt functions-it takes two arguments

In [51]:
for i in sorted_products:
    print(i)

{'name': 'product2', 'price': 30}
{'name': 'product3', 'price': 40}
{'name': 'product1', 'price': 50}
{'name': 'product4', 'price': 60}

In [53]:
sorted_products

[{'name': 'product2', 'price': 30},
 {'name': 'product3', 'price': 40},
 {'name': 'product1', 'price': 50},
 {'name': 'product4', 'price': 60}]

In [3]:
x={"name":"product1","price":50}

In [4]:
key=lambda x:x["price"]

In [5]:
key

In [6]:
x["price"]

50

In [ ]:
#write lambda expression that accepts a chracter as arguemnt and return true if it is a vowel otherwise false
#a e i o u
#imran
#output -i a

In [7]:
vowels =["a","e","i","o","u","A","E","I","O","U"]
string=input("enter a string:")

vowels_list = [string[i] for i in range(len(string)) if string[i] in vowels]
vowels_list

enter a string: vamshi

['a', 'i']

In [ ]:
#filter
#map
#reduce

In [9]:
x=-10
abs(x)   #built in function

10

In [10]:
x=5
id(x)

139937453425008

In [11]:
l=[1,2,3,4]

In [12]:
max(l)

4

In [13]:
y=str(x)

In [14]:
y

'5'

In [15]:
type(y)

str

In [35]:
language=["python","java","c"]

In [36]:
enumerate_prime = enumerate(language)

In [37]:
list(enumerate_prime) # index attached- adding indexs

[(0, 'python'), (1, 'java'), (2, 'c')]

In [38]:
enumerate_prime = enumerate(language,20)  #what if we want to change index,start at index 20-20 is position for counting

In [39]:
list(enumerate_prime)

[(20, 'python'), (21, 'java'), (22, 'c')]

In [42]:
# List comprehension - a way of creating i=new iterable object from the existing iterable object

In [46]:
lst= [1,2,3,4,5,6,7,8,9,10]

In [47]:
a = [x for x in lst]

In [48]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [53]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x+1 for x in lst]

In [54]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [55]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x*2 for x in lst]

In [56]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [58]:
lst=[1,2,3,4,5,6,7,8,9,10]

c=[x for x in lst if x>4]

In [59]:
c

[5, 6, 7, 8, 9, 10]

In [60]:
a=[]
for x in lst:
    if x>4:
        a.append(x)

In [61]:
a

[5, 6, 7, 8, 9, 10]

In [63]:
lst=[1,2,3,4,5,6,7,8,9,10]
result=[i for i in lst if i%2==0]
result

[2, 4, 6, 8, 10]

In [64]:
lst=[1,2,3,4,5,6,7,8,9,10]
d=[x for x in lst if x>4 if x%2==0]

In [65]:
d

[6, 8, 10]

In [72]:
# normal form
a=[]
for x in lst:
    if x>4 and x%2==0:
        a.append(x)

In [67]:
a

[6, 8, 10]

In [68]:
lst=[1,2,3,4,5,6,7,8,9,10]
e=[x if x>4 else "lessthan 4" for x in lst]

In [69]:
e

['lessthan 4', 'lessthan 4', 'lessthan 4', 'lessthan 4', 5, 6, 7, 8, 9, 10]

In [73]:
#normal form
a=[]
for x in lst:
    if x>4 and x%2==0:
        a.append(x)
    else:
        a.append("lessthan 4")

In [74]:
a

['lessthan 4',
 'lessthan 4',
 'lessthan 4',
 'lessthan 4',
 'lessthan 4',
 6,
 'lessthan 4',
 8,
 'lessthan 4',
 10]

In [81]:
# elid
lst=[1,2,3,4,5,6,7,8,9,10]

f=["two" if x%2==0 else "three" if x%3==0 else "not a & b" for x in lst]

In [82]:
f

['not a & b',
 'two',
 'three',
 'two',
 'not a & b',
 'two',
 'not a & b',
 'two',
 'three',
 'two']

In [83]:
#normal form
a=[]
for x in lst:
    if x%2==0:
        a.append("two")
    elif x%3==0:
        a.append("three")
    else:
        a.append("not 2 & 3")

In [84]:
a

['not 2 & 3',
 'two',
 'three',
 'two',
 'not 2 & 3',
 'two',
 'not 2 & 3',
 'two',
 'three',
 'two']

In [ ]:
# next map, filter, reduce, set comprehension
#exception handling-try,except,block